<div class="row clearfix">
	<div class="col-md-12 column">
		<ul class="nav nav-tabs">
			<li>
				<a href="/employees">Employee list</a>
			</li>
			<li>
				<a href="/holidays/approved">Approved Holidays</a>
			</li>
			<li>
				<a href="/holidays/unapproved">Approval queue</a>
			</li>
		</ul>
	</div>
</div>