<div class="row clearfix">
	<div class="col-md-12 column">
		<ul class="nav nav-tabs">
			<li>
				<a href="/employees">Employee list</a>
			</li>
			<li>
				<%= link_to "Holiday Schedule", holiday_schedule_path %>
			</li>
			<li>
				<%= link_to "Approval Queue", holiday_queue_path %>
			</li>
		</ul>
	</div>
</div>