<div class="row clearfix">
	<div class="col-md-12 column">
		<ul class="nav nav-tabs">
			<li>
				<a href="/employees/profile">Profile</a>
			</li>
			<li>
				<a href="/holidays">Holidays</a>
			</li>
			<li>
				<a href="/report">Report</a>
			</li>
		</ul>
	</div>
</div>