<div class="container page-header" ng-controller='NewsCtrl as news'>
	<div class="row clearfix">
		<div class="col-md-4 column" ng-repeat="(index, article) in news.news.articles">
			<h2>
				{{article.title}}
			</h2>
			<p>
				{{article.body | limitTo: 500 }}
			</p>
			<p>
				<a class="btn" href="/news/{{article.id}}">Read more »</a>
			</p>
		</div>
	</div>
</div>
